.root {
	--span: span 2 / auto;
	display: grid;
	gap: 2rem 1em;

	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #353535;
	color: #fff;
	box-shadow: var(--shadow-colour-1) 0px 0.15rem 0.5rem, var(--shadow-colour-2) 0px 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 0.5s;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.card:hover {
	box-shadow: var(--shadow-colour-2) 0px 0.35em 1.175em, var(--shadow-colour-1) 0px 0.175em 0.5em;
	transform: translateY(-3px) scale(1.08);
}

.info {
	/* display: none; */
	transition: all 0.3s ease;
	transform: translateY(-250%);
	background-color: #000000a6;
	overflow: hidden;
	padding: 2em;
	opacity: 0;
}

.card:hover .info {
	opacity: 1;
	transform: translateY(0);
}

@media screen and (min-width: 768px) {
	.card:hover {
		grid-column: var(--span);
		grid-row: var(--span);
	}

	.cardTall {
		grid-row: var(--span);
	}

	.cardWide {
		grid-column: var(--span);
	}
}
