.root {
	padding: 0 0.25em;
}
.root > div {
	margin: 4em auto;
}

.books {
	display: flex;

	overflow-x: auto;
	padding: 2em 0;
	scroll-behavior: smooth;
	border-radius: 4px;
}

@media screen and (min-width: 600px) {
	.root {
		padding: 0 2em;
	}
}
