:root {
	--sidebar-width: 320px;
}

.root {
	/* height: 100vw; */
	position: relative;
}

.toolbar {
	height: 72px;
	display: flex;
	box-shadow: 0 0px 0.75rem 0px var(--shadow-colour-1);
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 999;
}

.toolbar_item {
	padding: 2em 1rem;
}

.menuIcon {
	background-image: url('../../assets/icons8-menu.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 24px;
	width: 24px;
}

.menuIcon__close {
	background-image: url('../../assets/icons8-close.svg');
}
.menuIcon__open {
	background-image: url('../../assets/icons8-menu.svg');
}

main {
	display: flex;
	position: relative;
	overflow-x: hidden;
	padding-top: 72px;
}

.sidebar {
	flex: 0 0 100vw;
	position: relative;
	overflow: hidden;
	transition: flex 0.25s ease-out;
	box-shadow: 0.1rem 1rem 0.6rem var(--shadow-colour-1);
}

.userName {
	font-weight: normal;
	white-space: nowrap;
}

.sidebar.sidebar__close {
	flex: 0;
}

.sidebar__close .menu {
	opacity: 0;
}

.menu {
	position: fixed;
	opacity: 1;
	transition: opacity 0.25s ease-out;
}

.content {
	flex: 1;
}

@media screen and (min-width: 500px) {
	.sidebar {
		flex: 0 0 var(--sidebar-width);
	}
}
@media screen and (min-width: 1560px) {
	.menuIcon {
		display: none;
	}
}
