:root {
	--shadow-colour-1: #0308141a;
	--shadow-colour-2: #0208141a;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div {
	background-repeat: no-repeat;
}

ul {
	padding: 0;
}
li {
	list-style-type: none;
}

p {
	line-height: 1.3;
	text-align: justify;
}

a {
	text-decoration: none;
}
